@import 'tailwindcss';

@theme {
  --color-background-dark: #030014;
  --color-primary-purple: #5c1fc4;
  --color-accent-purple: #905aed;
  --color-text-purple-light: #bb9cff;
  --color-text-white: #ffffff;
  --color-text-gray: #928fa1;
}